mixin impressum({ contact } = data)

    section.section.contact.contact-impressum(id=contact.id)
        .container.contact__container
            .section__header

            .section__body
                article.article
                    .article__body
                        h2.article__heading-3 Infos
                        ul
                            li Geschäftsführer/Dyrektor: Urszula Tęcza
                            li Umsatzsteuer-ID/Numer identyfikacji podatkowej VAT: DE309717790
                            li Registergericht/Sąd Rejestrowy: Amtsgericht Charlottenburg
                            li Registernummer/Numer rejestracyjny: HRB 182707 B
                        h2.article__heading-3 Kontakt
                        ul 
                            li (+48) 732 984 710  
                            li (+49) 159 01982317
                            li E-Mail: info@neutron-consulting.pl
                        p Verantwortlich für den Inhalt/Odpowiedzialna za treść: Urszula Tecza
                        p Die Neutron Consulting UG (haftunsgbeschränkt) ist eine Unternehmensberatung, die keine Rechts- oder Steuerberatung darstellt / Neutron Consulting UG (haftunsgbeschränkt) zajmuje się konsultowaniem działań gospodarczych, co nie jest jednoznaczne z doradctwem prawno-podatkowym. 
                        h3.article__heading-3 Hinweis auf EU-Streitschlichtung
                        p Online-Streitbeilegung gemäß Art. 14 Abs. 1 ODR-VO: Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit, die Sie unter http://ec.europa.eu/consumers/odr/ finden. Wir sind bereit, an einem außergerichtlichen Schlichtungsverfahren teilzunehmen.
                        h3.article__heading-3 Odniesienie do unijnego systemu rozstrzygania sporów
                        p Internetowe rozstrzyganie sporów zgodnie z art. 14 ust. 1 rozporządzenia w sprawie ODR: Komisja Europejska udostępnia platformę do rozwiązywania sporów online (OS), którą można znaleźć pod adresem http://ec.europa.eu/consumers/odr/. Jesteśmy gotowi uczestniczyć w pozasądowej procedurze rozwiązywania sporów.