mixin cooperate()
    section.section.cta__cooperate
        .container 
            .cta__cooperate__image-wrapper
                img(src=pathToFile+'images/team/urszula-tecza.jpg', alt="Urszula Tęcza")
            .cta__cooperate__text-wrapper
                h4.cta__cooperate-heading Serdecznie zapraszamy do współpracy!
                p.cta__cooperate-text Urszula Tęcza wraz z Zespołem Neutron Consulting UG (hb)